.logos-section {
}

@media screen and (min-width: 750px) {
  .logos-section {
    padding: 40px 0;
    text-align: center;
    width: fit-content;
    float: right;
    margin-top: 39px;
  }
}

.logos-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 750px) {
  .logos-wrap {
    gap: 30px;
  }
}

.logos-section .logos-title {
  /* text-align: left;
  margin: 0; */
}

@media screen and (min-width: 750px) {
  .logos-section .logos-title {
    text-align: left;
    margin: 0;
  }
}

.logo-item {
  margin: 0 15px;
}

@media screen and (min-width: 750px) {
  .logo-item {
    margin: 0;
  }
}

.logo-item img {
  max-width: 100px;
  height: auto;
  display: inline-block;
  opacity: 0.8;
}

.logo-item img:hover {
  opacity: 1;
}
